<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/clean-blog.css" />
  </head>
  <body>
    <h1>Here are some shows!</h1>
    <ul style='columns: 5'>
      <% @shows.each do |show| %>
        <li><a href='/shows/<%= show.id %>'><%= show.name %></a></li>
      <% end %>
    </ul>
    <p><a href='/shows/new'>Click here to add a show!</a></p>
  </body>
</html>