<h1>Add a Show!</h1>
<% if @error %>
  <p><%=@error%></p>
<% end %>
<form method='POST' action='/shows'>
  <label>Show Name</label><br>
  <input type='text' name='name'><br>
  <input type='submit' value='submit'>
</form>