<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TvShowReviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/clean-blog.css" />
  </head>
  <body>
    <% if logged_in?%>
      <form method='POST' action='/logout'>
        <button type='submit' value='Log Out'>Log Out!</button>
      </form>
      <a href='/users/<%=current_user.id%>'>Your Profile</a> |
    <% else %>
      <a href='/login' >Log In</a> |
      <a href='/signup' >Sign Up</a> |
    <% end %>
    <a href="/shows">Show List</a>
    <div class='wrapper'>
        <%= yield %>
      <footer class="branding">
        <small>&copy; 2021 <strong>TvShowReviews</strong></small>
      </footer>
    </div>
  </body>
</html>
